<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFolder" value="e:\logs\netmon\"/>
    <add key="Adapter" value="rpcap://\Device\NPF_{2E15072F-3CF8-4737-9D8D-078FC790AA02}"></add>
    <add key="Timeout" value="50000000"></add>
    <add key="PacketFolder" value="d:\logs\packet\"/>
  </appSettings>
</configuration>