<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="Adapter" value="\Device\NPF_{290E09E8-AE9B-439C-8F3E-FFC19113D3E2}"/>
    <add key="Address" value="10.250.2.51"/>
    <add key="Port" value="40109"/>
  </appSettings>
</configuration>
